.date-picker {
  border: 1px solid black;
  width: 250px;
}

.month-selector {
  display: flex;
  justify-content: center;
}

.month-selector__month-and-year {
  margin: 0px 20px;
}

.day-of-weeks {
  display: flex;
  justify-content: space-around;

  &__item {
    text-align: center;
    width: 2rem;

    &_sunday {
      color: red;
    }
    &_saturday {
      color: lightblue;
    }
  }
}

.week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
}
